*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.navbar{
    max-width:1600px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
    
    

}
nav .logo{
    width: 139px;
    margin-bottom: 16px;
    margin-top: 16px;
    
}
nav .menu-items{
    display: flex;
    list-style-type: none;
    gap: 32px;
    
    
}
nav .menu-items a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
nav .btn{
    
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    
    

}
.banner{
    max-width: 1600px;
    height: 674px;
    background: url(/assets/hero-bg.png);
    background-size: cover;
}
.icon-text{
    text-align: center;
    padding-top: 115.5px;
    

}
.icon-text .btn{
    color:#469165;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;

    
}
.banner-text h1{
    text-align: center;
    padding-top: 16px;
    font-size: 80px;
    
}
.banner-text h1 .color-white{
    color: #FFFFFF;
    
}
.banner-text h1 .color-green{
    color: #30BB68;
    

}
.banner-text p{
    text-align: center;
    padding-top: 16px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
}
.banner-button{
    text-align: center;
    padding-top: 32px;
    
   
}
.banner-button .btn1{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
.banner-button .btn2{
    
    background-color: transparent;
    color: #FFFFFF;
    padding: 12px 16px;
    
    
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
notes{
    max-width: 1600px;
    height: 448px;
    background-color: #FFFFFF;
}
.notes .section{
    width: 1360px;
    gap: 16px;
    text-align: center;
    padding-top: 68px;
    
}
.section .section-heading{
    font-size: 48px;
    color: #001931;
    font-weight: bold;
}
.section-heading .subtitle{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    
    
    
}

.card{
    padding: 44px 120px 21.5px 120px;
    display: flex;
    gap: 24px;
    
    
    
}
.card-box{
    box-shadow: 0 0 8px 0 #0000004b;
    border-radius: 8px;
    
}

.card .card-image{
    padding: 69.5px 131px 16px 131px;
    border: red;
    
    
    width: 60px;


}
 
.card-box  .card-title{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding-bottom: 16px;
    margin: 16px 24px;
    
    
}
.card-box  .card-subtitle{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin: 16px 24px 69.5px 24px;

}
.brain{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    padding: 120px;
    
}
.text-description{
    padding-top: 102px;
}
.text-description h4{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    
}
.text-description h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.text-description h5{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    
}
.text-description h6{
    
    color: #001931;
    padding-top: 40px;

}
.text-description h6 li{
   margin-bottom: 16px;
   list-style-type: none;
   font-size: 16px;
   font-weight: 500;
   color: #001931;
   
   
}
.text-description h6 li img{
    vertical-align: middle;
    margin-right: 6px;
}
.early-access{
    width: 1600px;
    
    
}
.text-container{
    margin: 2px 120px 120px 120px;
   
    padding: 80px 40px;
    text-align: center;
    background-color: #F7F6F2;
    height: 384px;
    border-radius: 12px;
}
.text-container h1{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
}
.text-container p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    color: #627382;
}
.text-container button{
    margin-top: 24px;
    padding: 16px 12px;
    border-radius: 4;
    width: 194px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;

}
.text-container h5{
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
}









